<div class="search-form">
    <%= form_with(scope: :search, url: hotsprings_path, method: :get, local:true ) do |f| %>
        <%= f.label :name, "温泉名" %>
        <%= f.text_field :name, value: @search_params[:name], placeholder:"道後温泉" %>
        <%= f.label :address, "都道府県" %>
        <%= f.select :address, Ride.ride_areas.keys, {}, placeholder:"東京都"  %>
        <%= f.label :ph_min, "pH" %>
        <%= f.text_field :ph_min, value: @search_params[:ph_min], placeholder:"0"  %>
        <p>〜</p>
        <%= f.text_field :ph_max, value: @search_params[:ph_max], placeholder:"14"  %>
        <%= submit_tag "検索する", class: "btn btn-primary"%>
    <% end %>
</div>

