<div class="w-auto hotspring-box",  id="hotspring-<%= hotspring.id %>">
    <div class="hotspring-left">
        <div class="hotspring-main-img-wrapper">
            <% if hotspring.images.attached? %>
                <%= image_tag hotspring.images[0], class: "hotspring-main-img" %>
            <% else %>
                <%= image_tag 'hotspring_default_img.png', class: "hotspring-main-img" %>
            <% end %>
        </div>
    </div>
    <div class="hotspring-right">
        <h2 class="hotspring-name"><%= link_to hotspring.name, hotspring %></h2>
        <p>住所：<%= hotspring.address %></p>
        <p>泉質：<%= hotspring.quality %></p>
        <p>pH：<%= hotspring.ph %></p>
        <p>評価：<%= hotspring.average_score %></p>
        <% if logged_in? && current_user.admin? %>
            <p><%= link_to "編集", edit_hotspring_path(hotspring) %></p>
            <p><%= link_to "削除", hotspring, method: :delete,
                    data: { confirm: "本当に削除しますか？" } %></p>
        <% end %>
    </div>
</div>

<script>
ScrollReveal().reveal('.hotspring-box', { 
       duration: 2000, 
       delay: 100,
       viewFactor: 0.4,
     });
</script>