<div class="w-auto hotspring-box",  id="hotspring-<%= hotspring.id %>">
    <div class="hotspring-left">
        <div class="hotspring-main-img-wrapper">
            <% if hotspring.images.attached? %>
                <%= image_tag hotspring.images[0], class: "hotspring-main-img" %>
            <% else %>
                <%= image_tag 'hotspring_default_img.png', class: "hotspring-main-img" %>
            <% end %>
        </div>
    </div>
    <div class="hotspring-right">
        <h2 class="hotspring-name"><%= link_to hotspring.name, hotspring %></h2>
        <p class="hotspring-address"><%= hotspring.address %></p>
        <div class="average-score">
            <div class="star-rating">
                <div class="star-rating-front" style="width: <%= hotspring.percentage_score %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div><%= hotspring.average_score %>
            </div>
        </div>
        <div class="quality-content">
            <p>
                <%= image_tag("elements.png", alt: "elements-icon", class: "quality-icon") %><%= hotspring.quality %>
            </p>
            <p>
                <%= image_tag("ph.png", alt: "ph-icon", class: "quality-icon") %><%= hotspring.ph %>
            </p>
        </div>
        <% if logged_in? && current_user.admin? %>
        <%= link_to "編集", edit_hotspring_path(hotspring), class: "btn btn-primary" %>
        <%= link_to "削除", hotspring, method: :delete,
                    data: { confirm: "本当に削除しますか？" }, class: "btn btn-primary" %>
        <% end %>
    </div>
</div>

<script>
ScrollReveal().reveal('.hotspring-box', { 
       duration: 2000, 
       delay: 100,
       viewFactor: 0.4,
     });
</script>