<div class="sidebar">
    <div class="pageNavArea" id="nav">
        <p class="pageNavTitle">メニュー</p>
        <ul class="nav">
            <li class="active pageNav"><span>レビュー</span></li>
            <li class="pageNav hover"><%= link_to "施設トップへ", @hotspring %></li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="detailSection review">
        <div class="review-content">
            <%= render "hotspring_detail_header" %>
            <% if logged_in? %>
                <div class="review_form">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#post-review">
                        <i class="fas fa-pen"></i>　投稿
                    </button>
                </div>
                <!-- レビュー投稿モーダル -->
                <%= render "shared/review_form" %>
            <% end %>
            <%= will_paginate @reviews %>
            <div class="reviews-feed">
                <%= render @reviews %>
            </div>
            <%= will_paginate @reviews %>
        </div>
    </div>
</div>