<div class="sidebar">
    <div class="pageNavArea" id="nav">
        <p class="pageNavTitle">メニュー</p>
        <ul class="PageNav nav">
            <li class="status"><a href="#status">温泉情報</a></li>
            <li class="hover"><a href="#review">レビュー</a></li>
            <li class="hover"><a href="#access">アクセス</a></li>
            <% if logged_in? && current_user.admin? %>
                <li><%= link_to "編集", edit_hotspring_path(@hotspring) %></li>
                <li><%= link_to "削除", @hotspring, method: :delete,
                    data: { confirm: "本当に削除しますか？" } %></li>
            <% end %>
        </ul>
    </div>
</div>
<div class="content">
    <div class="detailHeader">
        <h1 class="hotspringName">
            <span class="name"><%= @hotspring.name %></span>
        </h1>
        <div class="address">
            <span>住所：<%= @hotspring.address %></span>
        </div>
    </div>
   <div class="slideshow">
        <div class="mainPhoto">
            <% if @hotspring.images.attached? %>
                <%= image_tag @hotspring.images[0] %>
            <% else %>
                <%= image_tag 'hotspring_default_img.png'%>
            <% end %>
        </div>
   </div>

   <div id="status" class="detailSection hotspringStatus">
        <h2 class="detailSectionTitle quality">泉質</h2>
        <li><span>泉質：<%= @hotspring.quality %></li>
        <li>pH：<%= @hotspring.ph %></li>
   </div>
    <div class="detailSection review" id="review">
        <h2 class="detailSectionTitle">レビュー</h2>
        <% if logged_in? %>
            <div class="row">
                <aside class="col-md-4">
                    <section class="review_form">
                        <%= render 'shared/review_form' %>
                    </section>
                </aside>
                <div class="reviews-feed">
                    <%= render @reviews %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="detailSection access" id="access">
        <h2 class="detailSectionTitle">アクセス</h2>
        <h4><%= @hotspring.address %></h4>
    </div>
</div>
