<div class="sidebar">
    <div class="pageNavArea" id="nav">
        <p class="pageNavTitle">メニュー</p>
        <ul class="pageNav nav">
            <li class="pageNav quality"><a href="#quality">温泉情報</a></li>
            <li class="pageNav hover"><a href="#review">レビュー</a></li>
            <li class="pageNav hover"><a href="#access">アクセス</a></li>
            <% if logged_in? && current_user.admin? %>
                <li class="pageNav"><%= link_to "編集", edit_hotspring_path(@hotspring) %></li>
                <li class="pageNav"><%= link_to "削除", @hotspring, method: :delete,
                    data: { confirm: "本当に削除しますか？" } %></li>
            <% end %>
        </ul>
    </div>
</div>
<div class="content">
    <div class="detailHeader">
        <h1 class="hotspringName">
            <span class="name"><%= @hotspring.name %></span>
        </h1>
        <div class="address">
            <span>住所：<%= @hotspring.address %></span>
        </div>
        <div class="average-score">
            <div class="star-rating">
                <div class="star-rating-front" style="width: <%= @hotspring.percentage_score %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div><%= @hotspring.average_score %>
            </div>
        </div>
    </div>
   <div class="slideshow">
        <div class="mainPhoto">
            <% if @hotspring.images.attached? %>
                <%= image_tag @hotspring.images[0] %>
            <% else %>
                <%= image_tag 'hotspring_default_img.png'%>
            <% end %>
        </div>
   </div>

   <div id="quality" class="detailSection hotspringStatus">
        <h2 class="detailSectionTitle quality">泉質</h2>
        <ol class="quality-content">
            <%= image_tag("elements.png", alt: "elements-icon", class: "quality-icon") %>
            <span><%= @hotspring.quality %>
        </ol>
        
        <ol class="quality-content">
            <%= image_tag("ph.png", alt: "ph-icon", class: "quality-icon") %>
            <%= @hotspring.ph %>
        </ol>
   </div>
    <div class="detailSection review" id="review">
        <h2 class="detailSectionTitle">レビュー</h2>
        <% if logged_in? %>
            <div class="review_form">
                <%= render 'shared/review_form' %>
            </div>
            <div class="reviews-feed">
                <%= render @reviews %>
            </div>
            <div class="moreBtn-service hover">
                <a href="#">すべてのレビューを見る</a>
            </div>
        <% end %>
    </div>
    <div class="detailSection access" id="access">
        <h2 class="detailSectionTitle">アクセス</h2>
        <h4><%= @hotspring.address %></h4>
    </div>
</div>
