<div class="sidebar">
    <div class="pageNavArea" id="nav">
        <p class="pageNavTitle">メニュー</p>
        <ul class="nav">
            <li class="pageNav"><a href="#quality">温泉情報</a></li>
            <li class="pageNav"><a href="#review">レビュー</a></li>
            <li class="pageNav"><a href="#access">アクセス</a></li>
            <% if logged_in? && current_user.admin? %>
                <li class="pageNav"><%= link_to "編集", edit_hotspring_path(@hotspring) %></li>
                <li class="pageNav"><%= link_to "削除", @hotspring, method: :delete,
                    data: { confirm: "本当に削除しますか？" } %></li>
            <% end %>
        </ul>
    </div>
</div>
<div class="content">
    <%= render "hotspring_detail_header" %>
    <div class="slideshow">
        <div class="mainPhoto">
            <% if @hotspring.images.attached? %>
                <%= image_tag @hotspring.images[0] %>
            <% else %>
                <%= image_tag 'hotspring_default_img.png'%>
            <% end %>
        </div>
    </div>

   <div id="quality" class="detailSection hotspringStatus">
        <h2 class="detailSectionTitle quality">泉質</h2>
        <ol class="quality-content">
            <%= image_tag("elements.png", alt: "elements-icon", class: "quality-icon") %>
            <span><%= @hotspring.quality %>
        </ol>
        
        <ol class="quality-content">
            <%= image_tag("ph.png", alt: "ph-icon", class: "quality-icon") %>
            <%= @hotspring.ph %>
        </ol>
   </div>
    <div class="detailSection review" id="review">
        <h2 class="detailSectionTitle">レビュー</h2>
        <% if logged_in? %>
            <% unless posted_review?(@hotspring.id) %>
                <div class="review_form">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#post-review">
                        <i class="fas fa-pen"></i>　投稿
                    </button>
                </div>
                <!-- レビュー投稿モーダル -->
                <%= render "shared/review_form" %>
            <% end %>
        <% end %>
        <% if @reviews.empty? %>
            <span class="empty_reviews">レビューはありません</span>
        <% else %>
            <div class="reviews-feed">
                <%= render @reviews %>
                <div class="moreBtn-service hover">
                    <i class="fas fa-chevron-right"></i><%= link_to " すべてのレビューを見る", "#{@hotspring.id}/reviews" %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="detailSection access" id="access">
        <h2 class="detailSectionTitle">アクセス</h2>
        <h4><%= @hotspring.address %></h4>
        <iframe src="https://maps.google.co.jp/maps?output=embed&q=<%= @hotspring.address %>", class="google-maps"></iframe>
    </div>
</div>